<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de noticias</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/estilo.css">
</head>

<body>
    <header>
        <div id="inicio" class="cabecera">
            <img src="/images/logosala.png" alt="sala rivadavia" class="imagenlogo">
            <!-- Titulo -->
            <div class="cabeza">
                <div class="sala">
                    <h1>Sala Bernardino Rivadavia</h1>
                    <h4>Sociedad de fomento</h4>
                </div>
                <div class="atencion">
                    <h3>Atencion a socios y particulares</h3>
                    <h3>Aranceles comunitarios</h3>
                </div>
            </div>
        </div>
    </header>

    {{{body}}}

    <footer class="pie">
        <!-- Pie de pagina -->
        <p> Diseñado por Mauricio D. Carambia -&copy;2022</p>
        <a href="#inicio">Volver arriba</a>
    </footer>
</body>

</html>